[submodule "asmjit"]
	path = asmjit
	url = https://github.com/kobalicek/asmjit
	ignore = dirty
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "rsx_program_decompiler"]
	path = rsx_program_decompiler
	url = https://github.com/RPCS3/rsx_program_decompiler