# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/libs
*.opensdf
*.sdf
*.user
/bin/rpcs3.exe
/bin/RPCS3.log
/bin/rpcs3.ini
/bin/compiled.elf
/bin/FragmentProgram.txt
/bin/VertexDataArray.dump
/bin/VertexProgram.txt
/bin/BreakPoints.dat
/bin/textures
*.suo
/rpcs3/Debug
/rpcs3/Release
/ipch
