[submodule "rpcs3-ffmpeg"]
	path = 3rdparty/ffmpeg
	url = https://github.com/hrydgard/ppsspp-ffmpeg
[submodule "asmjit"]
	path = asmjit
	url = https://github.com/kobalicek/asmjit
	ignore = dirty
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm
	branch = release_40
[submodule "rsx_program_decompiler"]
	path = rsx_program_decompiler
	url = https://github.com/RPCS3/rsx_program_decompiler
[submodule "GSL"]
	path = 3rdparty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "libpng"]
	path = 3rdparty/libpng
	url = https://github.com/RPCS3/libpng
	ignore = dirty
[submodule "Vulkan/glslang"]
	path = Vulkan/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Vulkan/Vulkan-LoaderAndValidationLayers"]
	path = Vulkan/Vulkan-LoaderAndValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers
[submodule "Utilities/yaml-cpp"]
	path = Utilities/yaml-cpp
	url = https://github.com/RPCS3/yaml-cpp
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/RPCS3/pugixml
[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "rsx-debugger"]
	path = rsx-debugger
	url = https://github.com/RPCS3/rsx-debugger.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib
[submodule "3rdparty/hidapi"]
	path = 3rdparty/hidapi
	url = https://github.com/RPCS3/hidapi
	branch = master