# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.opensdf
*.sdf
*.suo
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.pch

*.log
*.exe
*.elf
*.lastbuildstate
*.unsuccessfulbuild
*.res
*.dump

/libs
/ipch
/rpcs3/Debug
/rpcs3/Release

/wxWidgets/lib/vc_lib/mswd/wx/msw/rcdefs.h
/wxWidgets/lib/vc_lib/mswd/wx/setup.h
/bin/rpcs3.ini
/bin/FragmentProgram.txt
/bin/VertexProgram.txt
/bin/BreakPoints.dat
/bin/textures
