language: cpp

compiler:
 - clang
 - gcc

branches:
  only:
    - master
    - ppu_llvm_recompiler

git:
  submodules: false

before_install:
  - echo "yes" | sudo apt-key adv --fetch-keys http://repos.codelite.org/CodeLite.asc
  - echo "yes" | sudo apt-add-repository 'deb http://repos.codelite.org/wx3.0/ubuntu/ precise universe'
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update
  - sudo apt-get install libwxgtk3.0-dev libopenal-dev freeglut3-dev libglew-dev libc6-dev
  - sudo apt-get install aria2 -qq
  - download_extract() { aria2c -x 16 $1 -o $2 && tar -xf $2; }
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; export CXX="g++-4.8" CC="gcc-4.8"; else sudo apt-get install libstdc++-4.8-dev; fi
# Travis uses CMake 2.8.7. We require 2.8.8. Grab latest
  - sudo apt-get install lib32stdc++6 -qq &&
    aria2c -x 16 http://www.cmake.org/files/v3.0/cmake-3.0.0-Linux-i386.sh &&
    chmod a+x cmake-3.0.0-Linux-i386.sh &&
    sudo ./cmake-3.0.0-Linux-i386.sh --skip-license --prefix=/usr;

before_script:
 - git submodule update --init asmjit ffmpeg llvm
 - cd llvm_build
 - cmake -DLLVM_TARGETS_TO_BUILD=X86 -DLLVM_BUILD_RUNTIME=OFF -DLLVM_BUILD_TOOLS=OFF -DLLVM_INCLUDE_DOCS=OFF -DLLVM_INCLUDE_EXAMPLES=OFF -DLLVM_INCLUDE_TESTS=OFF -DLLVM_INCLUDE_TOOLS=OFF -DLLVM_INCLUDE_UTILS=OFF -DWITH_POLLY=OFF ../llvm
 - make -j 4
 - sudo make install
 - cd ..
 - mkdir build
 - cd build
 - cmake ..

script:
 - make -j 4

