@echo off
rem
rem Usage: postBuild.cmd SourcePath DestDir DestFile DestExt
rem
rem     SourcePath - $(TargetPath) - Fully qualified path of the generated target file.
rem     DestDir - $(SolutionDir) - Directory of the destination, usually the same as the solution.
rem     DestFile - Base filename of the target/dest, without extension!
rem     DestExt - Extension of the target/dest!

set pcsxoutdir=%~2\bin\plugins
set pcsxoutname=%pcsxoutdir%\%~3%4
set pcsxnewname=%pcsxoutdir%\%~3-r$WCREV$$WCMODS?m:$%4

IF NOT EXIST %pcsxoutdir% (
    md %pcsxoutdir%
)

copy /Y %~1 %pcsxoutname%
copy /Y %~1 %pcsxnewname%

if ERRORLEVEL 0 (
    echo Target copied to %pcsxnewname%
)
exit 0
