<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GSDumpGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<GSDumpGUI.Properties.Settings>
			<setting name="GSDXDir" serializeAs="String">
				<value/>
			</setting>
			<setting name="DumpDir" serializeAs="String">
				<value/>
			</setting>
		</GSDumpGUI.Properties.Settings>
	</userSettings>
	<startup/></configuration>
