Source: pcsx2.snapshot
Section: games
Priority: optional
Maintainer: Gregory Hainaut <gregory.hainaut@gmail.com>
# WARNING we need dpkg-dev 1.15.7 to support dpkg-buildflags but ubunutu 10.04 have only 1.15.5.6...
Build-Depends: debhelper (>= 7.0.50), dpkg-dev (>= 1.15.5.6), cmake (>=2.8),
    gcc-multilib [amd64], g++-multilib [amd64],
    zlib1g-dev (>= 1:1.2.3.3) | lib32z1-dev (>= 1.2.3.3) [amd64],
    libbz2-dev (>= 1.0.4),
    libsdl1.2-dev,
    libjpeg-dev,
    libwxbase2.8-dev (>= 2.8.10), libwxbase2.8-dev (<< 2.8.11), 
    libwxgtk2.8-dev (>= 2.8.10), libwxgtk2.8-dev (<< 2.8.11),
    libgtk2.0-dev (>= 2.16),
    liba52-0.7.4-dev,
    libasound2-dev | lib32asound2-dev [amd64],
    portaudio19-dev,
# version not yet in debian 
# libsoundtouch1-dev (>= 1.5),
# I patch the source (remove feature) to compile with version 1.3
    libsoundtouch1-dev (>= 1.3),
    libsparsehash-dev (>= 1.6),
    libx11-dev,
    libglew1.5-dev (>= 1.5.1),
    libgl1-mesa-dev,
    libglu1-mesa-dev,
# my nmu: add 32bits packages
#     nvidia-cg-toolkit (>= 2.1.0017.deb1) | nvidia-cg-toolkit (>= 2.1.0017.deb1+nmu2) [amd64],
    nvidia-cg-toolkit-pcsx2 | nvidia-cg-toolkit (>= 2.1), ia32-nvidia-cg-toolkit-pcsx2 [amd64],
    ia32-libs (>= 20090808+nmu7) [amd64], ia32-libs-gtk (= 20100503+local1) [amd64]
Standards-Version: 3.9.1
Homepage: http://pcsx2.net/

Package: pcsx2-unstable
# Warning amd64 need additional ia32libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
    pcsx2-data-unstable (>= ${binary:Version}),
    pcsx2-plugins-unstable (>= ${binary:Version})
    Conflicts: pcsx2
Description: Playstation 2 emulator
 PCSX2 is a PlayStation 2 emulator for Windows and Linux, started by the same 
 team that brought you PCSX (a Sony PlayStation 1 emulator).
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the main binary file.


Package: pcsx2-data-unstable
Architecture: all 
Depends: ${misc:Depends}
Recommends: pcsx2-unstable (>= ${binary:Version}), pcsx2-plugins-unstable (>= ${binary:Version})
Conflicts: pcsx2-data
Description: data for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux, started by the same 
 team that brought you PCSX (a Sony PlayStation 1 emulator).
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes data files.

Package: pcsx2-plugins-unstable
# Warning amd64 need additional ia32libs
Architecture: i386 amd64
# manually add nvidia-cg-toolkit for zzogl. Do not why is not found by shlibs !!!
Depends: ${shlibs:Depends}, ${misc:Depends},
    nvidia-cg-toolkit-pcsx2 | nvidia-cg-toolkit (>= 2.1), ia32-nvidia-cg-toolkit-pcsx2 [amd64]
Recommends: pcsx2-unstable (>= ${binary:Version}),
    pcsx2-data-unstable (>= ${binary:Version})
Conflicts: pcsx2-plugins
Description: Various plugins for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux, started by the same 
 team that brought you PCSX (a Sony PlayStation 1 emulator).
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the plugins for PCSX2.

Package: pcsx2-unstable-dbg
Section: debug
Priority: extra
# Warning amd64 need additional ia32libs
Architecture: i386 amd64
Depends: ${misc:Depends}, pcsx2-unstable (= ${binary:Version})
Conflicts: pcsx2-dbg
Description: Debug symbols for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux, started by the same 
 team that brought you PCSX (a Sony PlayStation 1 emulator).
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbol of pcsx2.

Package: pcsx2-plugins-unstable-dbg
Section: debug
Priority: extra
# Warning amd64 need additional ia32libs
Architecture: i386 amd64
Depends: ${misc:Depends}, pcsx2-plugins-unstable (= ${binary:Version})
Conflicts: pcsx2-plugins-dbg
Description: Debug symbols of the pcsx2-plugins
 PCSX2 is a PlayStation 2 emulator for Windows and Linux, started by the same 
 team that brought you PCSX (a Sony PlayStation 1 emulator).
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols of the pcsx2 plugins.
