Source: pcsx2.snapshot
Section: contrib/games
Priority: optional
Maintainer: Gregory Hainaut <gregory.hainaut@gmail.com>
# WARNING we need dpkg-dev 1.15.7 to support dpkg-buildflags but ubunutu 10.04 have only 1.15.5.6...
# WARNING Natty need at least cmake 2.8.5 (multiarch issue)
Build-Depends: debhelper (>= 7.0.50), dpkg-dev (>= 1.15.5.6), cmake (>=2.8),
    locales|locales-all,
    zlib1g-dev (>= 1:1.2.3.3),
    libbz2-dev,
    libsdl1.2-dev,
    libjpeg-dev,
    libwxbase2.8-dev,
    libwxgtk2.8-dev,
    libgtk2.0-dev (>= 2.16),
    libasound2-dev,
    portaudio19-dev,
# Virtual package must be enough for all
#    libsoundtouch-dev | libsoundtouch1-dev | libsoundtouch0-dev,
    libsoundtouch-dev,
    libsparsehash-dev,
    libx11-dev,
    libglew1.5-dev,
    libgl1-mesa-dev,
    libglu1-mesa-dev,
# Note lucid need nvidia-cg-toolkit-pcsx2 to be compatible with ppa   
    nvidia-cg-toolkit-pcsx2 | nvidia-cg-toolkit (>= 3)
Standards-Version: 3.9.1
Homepage: http://pcsx2.net/

Package: pcsx2-unstable
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
    pcsx2-plugins-unstable (>= ${binary:Version})
Conflicts: pcsx2,
    pcsx2-data-unstable
Replaces: pcsx2-data-unstable
Description: Playstation 2 emulator
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the main binary file.

Package: pcsx2-plugins-unstable
Architecture: i386
# manually add nvidia-cg-toolkit for zzogl (cg pacakge does not provide symbol or shlibs files)
Depends: ${shlibs:Depends}, ${misc:Depends},
    nvidia-cg-toolkit-pcsx2 | nvidia-cg-toolkit (>= 2.1)
Recommends: pcsx2-unstable (>= ${binary:Version}),
Conflicts: pcsx2-plugins,
    pcsx2-data-unstable
Replaces: pcsx2-data-unstable
Description: Various plugins for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the plugins for PCSX2.

Package: pcsx2-unstable-dbg
Section: debug
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2-unstable (= ${binary:Version})
Conflicts: pcsx2-dbg
Description: Debug symbols for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbol of pcsx2.

Package: pcsx2-plugins-unstable-dbg
Section: debug
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2-plugins-unstable (= ${binary:Version})
Conflicts: pcsx2-plugins-dbg
Description: Debug symbols of the pcsx2-plugins
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols of the pcsx2 plugins.

Package: pcsx2-l10n-unstable
Section: localization
Priority: optional
Architecture: all
Depends: ${misc:Depends}
Recommends: pcsx2-unstable (>= ${source:Version})
Conflicts: pcsx2-l10n
Description: Languages package for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the localization of the emulator in various languages.
