Source: pcsx2.snapshot
Section: contrib/games
Priority: optional
Maintainer: Gregory Hainaut <gregory.hainaut@gmail.com>
# WARNING Natty need at least cmake 2.8.5 (multiarch issue)
Build-Depends: cmake (>= 2.8),
    debhelper (>= 7.0.50),
    dpkg-dev (>= 1.15.7),
    libasound2-dev,
    libbz2-dev,
    libgl1-mesa-dev,
# Future GSdx version will need glew1.6. Only Oneiric have it...
#   libglew1.6-dev,
    libglew-dev (>= 1.6)| libglew1.5-dev,
    libglu1-mesa-dev,
    libgtk2.0-dev (>= 2.16),
    libjpeg-dev,
    libsdl1.2-dev,
    libsoundtouch-dev,
    libsparsehash-dev,
    libwxbase2.8-dev,
    libwxgtk2.8-dev,
    libx11-dev,
    locales | locales-all,
# package was split in precise to allow multiarch support
    libcg, nvidia-cg-toolkit (>= 3),
    portaudio19-dev,
    zlib1g-dev (>= 1:1.2.3.3)
Standards-Version: 3.9.2
Homepage: http://pcsx2.net/

Package: pcsx2-unstable
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends},
    pcsx2-plugins-unstable (>= ${binary:Version})
Conflicts: pcsx2,
    pcsx2-data-unstable
Replaces: pcsx2-data-unstable
Description: Playstation 2 emulator
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the main binary file.

Package: pcsx2-plugins-unstable
Architecture: i386
# manually add nvidia-cg-toolkit for zzogl (cg pacakge does not provide symbol or shlibs files)
Depends: ${shlibs:Depends}, ${misc:Depends},
    libcg | nvidia-cg-toolkit (>= 2.1)
Recommends: pcsx2-unstable (>= ${binary:Version}),
Conflicts: pcsx2-plugins,
    pcsx2-data-unstable
Replaces: pcsx2-data-unstable
Description: Various plugins for PCSX2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package includes the plugins for PCSX2.

Package: pcsx2-unstable-dbg
Section: contrib/debug
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2-unstable (= ${binary:Version})
Conflicts: pcsx2-dbg
Description: Debug symbols for pcsx2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols for PCSX2.

Package: pcsx2-plugins-unstable-dbg
Section: contrib/debug
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2-plugins-unstable (= ${binary:Version})
Conflicts: pcsx2-plugins-dbg
Description: Debug symbols of the pcsx2-plugins
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols for the PCSX2 plugins.

Package: pcsx2-l10n-unstable
Section: contrib/localization
Architecture: all
Depends: ${misc:Depends}
Recommends: pcsx2-unstable (>= ${source:Version})
Conflicts: pcsx2-l10n
Description: Language files for PCSX2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the localization of the emulator in various languages.
