#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode. 
# export DH_VERBOSE=1

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CMAKE_BUILD_TYPE=Debug
else
	CMAKE_BUILD_TYPE=Release
endif

USER_CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
USER_CXXFLAGS=$(shell dpkg-buildflags --get CXXFLAGS)

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=$(CMAKE_BUILD_TYPE) \
		-DCMAKE_BUILD_STRIP=FALSE \
		-DFORCE_INTERNAL_SOUNDTOUCH=FALSE \
		-DPACKAGE_MODE=TRUE
		-DUSER_CMAKE_C_FLAGS:STRING="$(USER_CFLAGS)" \
		-DUSER_CMAKE_CXX_FLAGS:STRING="$(USER_CXXFLAGS)"

clean:
	dh_testdir
	dh_testroot

	dh_auto_clean
	rm -fr obj-* # Remove cmake stuff in case auto_clean does not do its jobs properly

	dh_clean

## Uncomment this, if fglrx driver is installed
#override_dh_shlibdeps:
#	dh_shlibdeps -- --ignore-missing-info

override_dh_strip:
	dh_strip --package=pcsx2-unstable --dbg-package=pcsx2-unstable-dbg
	dh_strip --package=pcsx2-plugins-unstable --dbg-package=pcsx2-plugins-unstable-dbg

%:
	dh $@ --parallel

.PHONY: build clean install
