#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode. 
# export DH_VERBOSE=1

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CMAKE_BUILD_TYPE=Debug
else
	CMAKE_BUILD_TYPE=Release
endif


override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=$(CMAKE_BUILD_TYPE) \
		-DCMAKE_BUILD_STRIP=FALSE \
		-DFORCE_INTERNAL_SOUNDTOUCH=FALSE \
		-DFORCE_INTERNAL_SDL=TRUE \
		-DPACKAGE_MODE=TRUE

clean:
	dh_testdir
	dh_testroot

	dh_auto_clean
	rm -fr obj-* # cmake stuff is not always removed (fixed in debhelper 0.9.4)

	dh_clean

## Uncomment this, if fglrx driver is installed.
## Need a confirmation but I think it is useless in recent system
#override_dh_shlibdeps:
#	dh_shlibdeps -- --ignore-missing-info

override_dh_strip:
	dh_strip --package=pcsx2-unstable --dbg-package=pcsx2-unstable-dbg
	dh_strip --package=pcsx2-plugins-unstable --dbg-package=pcsx2-plugins-unstable-dbg

%:
	dh $@ --parallel

.PHONY: clean
